@model ProyWebSKF_GestionServicios.Context.SERVICIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SERVICIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPOSERVICIO.acronimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOSERVICIO.acronimo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
