@model ProyWebSKF_GestionServicios.Context.EMPLEADO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARGO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARGO.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.persona_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
